// Fonts
$font-primary:    'Roboto', sans-serif;
$font-secondary:  'obelixproregular', sans-serif;

// Colors
$violet:        #2F1240;
$light-blue:    #545593;
$body-bg:       #292B78;
$blue:          #222361;
$dark-blue:     #1f205a;
$turquoise:     #56F3C8;
$white:         #FFFFFF;